{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-4"> <!-- Reduced header padding -->
    <div class="container px-3 px-lg-5"> <!-- Reduced container padding -->
        <div class="text-center text-white">
            <h1 class="display-5 fw-bolder">Password</h1> <!-- Reduced header font size -->
            <p class="lead fw-normal text-white-50 mb-0">Update User Password</p>
        </div>
    </div>
</header>
<br/><br/>
<div class="container">
    <div class="row justify-content-center"> <!-- Center aligns content -->
        <div class="col-md-6"> <!-- Adjusted column width for medium screens -->
            <form method="POST" action="{% url 'update_password' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <br/><br/>
                <button type="submit" class="btn btn-secondary btn-block"> <!-- Full-width button -->
                    Update Password
                </button>
            </form>
        </div>
    </div>
</div>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
{% endblock %}
